/* LESS Document */
@import (less)"app/libs/magnific-popup/dist/magnific-popup.css";
/* LESS Document */
body {
  background: red;
}
* {
  padding: 0;
  margin: 0;
}
.nav-menu {
  background: #ccc;
}
.nav-menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.nav-menu ul li {
  list-style: none;
  padding: 10px;
}
.nav-menu ul li a {
  font-size: 14px;
}
#header {
  background: #ccc;
  border-top: dotted 1px #000;
  border-bottom: solid 2px #000;
  color: #9D1EC5;
  /*цвет green от родителя*/
}
.footer {
  color: #9D1EC5;
  /*цвет red*/
}
.sidebar {
  border: 1px solid #ccc;
  font-size: 14px;
}
.border_top_bottom {
  border-top: dotted 1px #000;
  border-bottom: solid 2px #000;
}
#button {
  border-radius: 6px;
}
.nav {
  background: #ccc;
}
.nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.nav ul li {
  list-style: none;
}
.nav ul li a {
  color: #333;
}
.nav ul li a:hover {
  color: #223B14;
}
.nav ul li a:visited {
  color: #F3191D;
}
h1 {
  padding: 5px;
}
h1.tittle-head {
  padding: 10px;
}
